node_modules
./frontend/node_modules
./useraddress-api/node_modules
./userdetails-api/node_modules
./useredu-api/node_modules
./userjob-api/node_modules
npm-debug.log
.env
docker-compose.yml
Makefile
notes.yml